body{
    font-family: 'Poppins', sans-serif;
}


.top-1 {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    padding: 200px;
    text-align: center;
    font-size: 24px;
    color: white;
    
    
}

.link-button {
    color: white;
    text-decoration: none;
    background-color: rgb(240, 61, 34);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 700;

}
.help_today{
    text-align: center;
}
.donate{
    display: flex;
    width: 80%;
}

.donate_amount{
    background-color: bisque;
    margin: 2px;
    padding: 1px 20px;
}

.scenario{
    display: flex;
}
.scenario-part1{
    font-size: 25px;
    padding: 20px;
}